*.{apk,jar,pptx} filter=lfs diff=lfs merge=lfs -text

unity/** linguist-documentation=false
unity/** linguist-vendored=false

android/** linguist-documentation=false
android/** linguist-vendored=false

backend/** linguist-documentation=false
backend/** linguist-vendored=false
